.fa {
  width: 24px;
  height: 24px;
    background-image: url('../icons/icons.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.fa-envelope {
    background-position: -2px -2px;
}

.fa-facebook {
    background-position: -30px -2px;
}

.fa-github {
    background-position: -58px -2px;
}

.fa-instagram {
    background-position: -86px -2px;
}

.fa-reddit {
    background-position: -114px -2px;
}

.fa-twitter {
    background-position: -142px -2px;
}

.fa-youtube {
    background-position: -170px -2px;
}

.fa-youtube-play {
    background-position: -198px -2px;
}
